{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="oldPassword" placeholder="Current password" type="text">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="newPassword" placeholder="Enter new password" type="text">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm new password" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
